body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/BG.jpg');
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: #fcd91354;
    background-blend-mode: multiply;
}
.login-container img {
    display: block;
    margin: 0 auto 5px auto; 
    max-width: 180px; 
    height: auto; 
}

.login-container {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 100px rgba(255, 145, 0, 0.1);
    width: 100%; 
    max-width: 400px;
    opacity: 0.9;
}

h2 {
    text-align: center;
    margin-bottom: 10px;         
    font-size: 2rem;
    font-weight: bold;
}

.input-group input {
    height: 75%;
    padding: 10px; 
    font-size: 1rem; 
    margin: 0 auto; 
    display: block; 
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem; 
}

input {
    width: 100%;
    padding: 12px; 
    font-size: 1rem; 
    border: 1px solid #CCC;
    border-radius: 15px;
    box-sizing: border-box;
}

button {
    width: 30%;
    padding: 12px;
    background-color: #679fdb;
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px auto 0 auto; 
    display: block;
    text-align: center;
    box-sizing: border-box; 
}


button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #003166;
}

.error-message {
    color: #ff4e4e; 
    text-align: center;
    font-size: 1rem; 
}
.login-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}
.close-btn {
    background-color: #ff4e4e;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}

.close-btn:hover {
    background-color: #ff1a1a;
}

/* Media queries สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 576px) {
    .login-container {
        padding: 15px;
        width: 90%; 
    }

    h2 {
        font-size: 1.8rem; 
    }

    input, button {
        font-size: 1rem; 
        padding: 10px; 
    }

    button {
        padding: 10px;
    }
}

/* Media queries สำหรับหน้าจอขนาดใหญ่ */
@media (min-width: 992px) {
    .login-container {
        max-width: 500px; 
    }

    h2 {
        font-size: 2.5rem; 
    }

    input, button {
        font-size: 1.2rem; 
        padding: 15px; 
    }

    button {
        padding: 15px;
    }
}
